package mainPage

import (
	"webapp-template-go-htmx-tailwind-fly-supabase-cloudinary-neon/frontend/components/footerComponent"
	"webapp-template-go-htmx-tailwind-fly-supabase-cloudinary-neon/frontend/components/headComponent"
	"webapp-template-go-htmx-tailwind-fly-supabase-cloudinary-neon/frontend/components/greetingSection"
	"webapp-template-go-htmx-tailwind-fly-supabase-cloudinary-neon/frontend/components/megaMenu"
)

templ Page() {
	<!DOCTYPE html>
	<html lang="en">
		@headComponent.HeadComponent()
		<body class="bg-gray-50 min-h-screen flex flex-col">
			<!-- Header -->
			@megaMenu.MegaMenu()
			<!-- Main Content -->
			@greetingSection.GreetingSection("World")
			<!-- Footer -->
			@footerComponent.Footer()
		</body>
	</html>
}
