package helloComponent

templ Hello(name string) {
    <div class="max-w-sm mx-auto mb-8">
        <div class="block p-6 rounded-lg shadow-lg bg-white dark:bg-gray-800">
            <h5 class="text-gray-900 dark:text-white text-xl leading-tight font-medium mb-2">
                Hello, { name }!
            </h5>
            <p class="text-gray-700 dark:text-gray-300">
                Welcome to our application. We're glad to have you here.
            </p>
        </div>
    </div>
}